*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

.flex-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;

}

.item {
    flex-basis: 1;
    flex-grow: 3;
    min-width: 340px;
    min-height: 400px;

}

.card {
    border:1.5px solid lightgray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(65, 72, 77);

}

/* .card-text{

} */
form{  
    margin: 10px auto;
    background-color:rgba(67, 153, 153, 0.661);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2rem;
    max-height: 250px;
}
form input{
    padding: 10px;
    border:1px solid lightgray;
    outline:none;
    background-color: white;
    font-size: 2rem;
    display: inline-block;
    
}

.list-group-item {
    cursor: pointer;
}

.list-group-item :hover{
    border: 2px solid blue
}

#groupInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

#groupInput::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
}

#groupInput::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray;
}

#sets-display-container{
    display: flex;
    justify-content: space-around;
    /* margin-right: 1rem; */
    margin-left: 1rem;
    gap: 10px;
    flex-wrap: wrap;

}

.set-display{
    border: 1px solid lightgray;
    min-height: 5rem;
    max-width: 600px;
    min-width: 375;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px gray;
 

}

.collapse{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.histCard{
    min-width: 350px;
    
   
}

.navbar{
    box-shadow: 3px 1px 1px  rgb(88, 99, 106);
}

#ingredintInput{
    min-width: 300px;
    max-width: 700px;
    padding: 5px;
    font-size: 2rem;
}